@charset "utf-8";
/* CSS Document */

body{
		margin:0px; padding:0px; font-family:"宋体"; font-size:12px; color:#969696; background:#F5F5F5;
	}

img{
		border:0px;
	}

form{
		margin:0px; padding:0px;
	}

/****************************      滚动  begin           *******************************************/

::-webkit-scrollbar{
		width:8px; height:8px;
	}

::-webkit-scrollbar-track:vertical{
		background:#FF0000;
	}

::-webkit-scrollbar-track-piece{  /* 外 */
		background:#F5F5F5
	}

::-webkit-scrollbar-thumb:vertical{   /* 内 */
		background:#CCCCCC; border-radius:10px;
	}

::-webkit-scrollbar-thumb:vertical:hover{   /*鼠内*/
		background:#666666;
	}

/****************************    滚动 end           *******************************************/

	}

.time{
		margin:0px; padding-top:480px; width:210px; color:#E4007F; font-size:60px; font-family:Verdana, Geneva, sans-serif; text-align:right;
	}



/****************************      home page  begin           *******************************************/

#top{ 
    	margin:0px auto; padding:0px; width:100%; height:136px; z-index:100; _position:relative; _top:0px;
	}


#top_logo{
		margin:0px auto; padding:0px; width:950px; height:130px;
	}

#top_logo_left{
		margin:0px; padding-top:25px; width:245px; float:left;
	}



#nav{
		margin:0px; padding:0px;
	}

#nav ul{
		margin:0px; padding-top:57px; padding-left:18px;
	}

#nav ul li{
		margin:0px; padding-left:20px; float:left; display:block; list-style:none;
	}

#top_line{
		margin:0px; padding:0px; width:100%; height:6px; overflow:hidden; display:block; background:#00A0E9;
	}

#top_line_2{
		margin:0px auto; padding:0px; width:950px;
	}

#top_line_2 ul{
		margin:0px; padding:0px;
	}

#top_line_2 ul li{
		margin:0px; padding:0px; width:190px; height:6px; overflow:hidden; display:block; float:left; background:#E4007F;
	}

#top_line_2 ul li.blue{
		margin:0px; padding:0px; width:190px; height:6px; overflow:hidden; display:block; float:left; background:#00A0E9;
	}

/****************************      banner  end           *******************************************/

#banner{
		margin:30px auto 0px auto; padding:0px; width:950px; height:400px;
	}

.slides{
		margin:0px auto; width:950px; height:400px; overflow:hidden; position:relative;
	}
.slide-pic{
		margin:0px; padding:0px; width:950px; overflow:hidden; list-style:none;
	}
.slide-pic img{
		width:950px; height:400px;
	}
.slide-pic li{
		display:none;
	}
.slide-pic li.cur{
		display:block;
	}
.slide-li{
		margin:0px; padding:0px; left:0px; bottom:0px; position:absolute;
	}
.slide-li li{
		margin:0px; padding:0px; width:190px; height:10px; float:left; overflow:hidden; list-style:none;
	}
.slide-li a{
		width:190px; height:10px; color:#000; font-size:12px; display:block;
	}

.slide-li a:hover{
		color:#F00; text-decoration:none;
	}
.op li{
		background:#999999; filter:alpha(opacity=60); opacity:0.6;
	}
.op li.cur{
		background:#666666;
	}
.slide-txt span{
		display:none;
	}

/****************************      banner  end           *******************************************/


#content{
		margin:30px auto 0px auto; padding:0px; width:950px; height:100%; overflow:auto;
	}

#content_left{
		margin:0px; padding:0px; width:335px; height:100%; overflow:auto; float:left;
	}

#content_left_title{
		margin:0px; padding:0px; width:250px; height:66px; background:url(../images/who.png) no-repeat;
	}

#content_left_text{
		margin:0px; padding:20px 40px 0px 0px; line-height:22px; text-indent:2em;
	}

#content_middle{
		margin:0px; padding:0px; width:335px; height:100%; overflow:auto; float:left;
	}

#content_middle_title{
		margin:0px; padding:0px; width:226px; height:66px; background:url(../images/scope.png) no-repeat;
	}

#content_middle_text{
		margin:0px; padding:0px;
	}

#content_middle_text ul{
		margin:0px; padding:16px 30px 0px 15px;
	}

#content_middle_text ul li{
		margin:0px; padding:0px; line-height:30px; list-style:disc;
	}

#content_middle_text ul li a{
		margin:0px; padding:0px; color:#969696; text-decoration:none;
	}

#content_middle_text ul li a:hover{
		margin:0px; padding:2px 0px 0px 2px; color:#505050; text-decoration:none;
	}

#content_right{
		margin:0px; padding:0px; width:275px; height:100%; overflow:auto; float:left;
	}

#content_right_title{
		margin:0px; padding:0px; width:260px; height:66px; background:url(../images/idear.png) no-repeat;
	}

#content_right_text{
		margin:0px; padding:20px 0px 0px 0px; line-height:22px; text-indent:2em;
	}

#link{
		margin:30px auto; padding:0px; width:950px; height:30px; background:#FFFFFF;
	}

#link_ico{
		margin:0px; padding:6px 0px 0px 5px; width:45px; float:left;
	}

#link_text{
		margin:0px; padding-top:10px; width:770px; float:left;
	}

#link_text ul{
		margin:0px; padding-left:15px;
	}

#link_text ul li{
		margin:0px; padding-right:15px; display:block; float:left; list-style:none;
	}

#link_text ul li a{
		margin:0px; padding:0px; color:#969696; text-decoration:none;
	}

#link_text ul li a:hover{
		margin:0px; padding:0px; color:#505050; text-decoration:none;
	}

#link_more{
		margin:0px; padding-top:9px; font-family:Arial, Helvetica, sans-serif; font-size:12px; width:60px; float:left;
	}

#link_more a{
		margin:0px; padding:0px; color:#969696; text-decoration:none;
	}

#link_more a:hover{
		margin:0px; padding:0px; color:#505050; text-decoration:none;
	}

.text{
		font-family:"宋体"; font-size:11px;
	}

#link_coo{
		margin:0px; padding-top:8px; width:66px; float:left;
	}

#bottom{
		margin:0px; padding:0px; width:100%; height:115px; background:#333333;
	}

#copyright{
		margin:0px auto; padding:0px; width:950px; height:115px;
	}

#copyright_left{
		margin:0px; padding:0px; width:600px; float:left;
	}

#copyright_nav{
		margin:0px; padding-top:35px; width:600px; height:100%; overflow:auto;
	}

#copyright_nav ul{
		margin:0px; padding:0px; color:#FFFFFF;
	}

#copyright_nav ul li{
		margin:0px; padding-right:15px; float:left; list-style:none;
	}

#copyright_nav ul li a{
		margin:0px; padding:0px; color:#FFFFFF; text-decoration:none;
	}

#copyright_nav ul li a:hover{
		margin:0px; padding:0px; color:#FFFFFF; text-decoration:none; display:block;
	}

#copyright_copy{
		margin:0px; padding-top:25px; color:#FFFFFF;
	}

#copyright_copy a{
		margin:0px; padding:0px; color:#FFFFFF; text-decoration:none;
	}

#copyright_copy a:hover{
		margin:0px; padding:0px; color:#FFFFFF; text-decoration:none;
	}

#copyright_copy .copy{
		margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;
	}

#copyright_right{
		margin:0px; padding-top:35px; width:350px; float:left;
	}

#copyright_power{
		margin:0px; padding-left:147px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#FFFFFF; float:left;
	}

#copyright_logo{
		margin:0px; padding-left:10px; float:left;
	}

#tongji{
		margin:0px; padding:5px 0px 0px 0px;
	}

#tongji a{
		argin:0px; padding:0px; color:#FFFFFF; text-decoration:none; display:block; font-size:0px;
	}

#tongji a:hover{
		argin:0px; padding:0px; color:#FFFFFF; text-decoration:none; display:block; font-size:0px;
	}



/****************************      home page  end           *******************************************/


/****************************      left_nav page  begin           *******************************************/

#content_left_nav{
		margin:18px 0px 0px 0px; padding:0px; width:275px; height:100%; overflow:auto;
	}

#nav_about{
		margin:0px; padding:0px; width:275px; height:48px;
	}

#nav_about .on1{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_about.gif) no-repeat 5px 15px;
	}

#nav_about a{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_click_about.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_about a:hover{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_about.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_talk{
		margin:0px; padding:0px; width:275px; height:48px;
	}

#nav_talk .on2{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_talk.gif) no-repeat 5px 15px;
	}

#nav_talk a{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_click_talk.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_talk a:hover{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_talk.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_link{
		margin:0px; padding:0px; width:275px; height:48px;
	}

#nav_link .on3{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_link.gif) no-repeat 5px 15px;
	}

#nav_link a{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_click_link.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_link a:hover{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_link.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_contact{
		margin:0px; padding:0px; width:275px; height:48px;
	}

#nav_contact .on4{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_contact.gif) no-repeat 5px 15px;
	}

#nav_contact a{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_click_contact.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_contact a:hover{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_contact.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_web{
		margin:0px; padding:0px; width:275px; height:48px;
	}

#nav_web .on5{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_web.gif) no-repeat 5px 15px;
	}

#nav_web a{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_click_web.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_web a:hover{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_web.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_logo{
		margin:0px; padding:0px; width:275px; height:48px;
	}

#nav_logo .on6{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_logo.gif) no-repeat 5px 15px;
	}

#nav_logo a{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_click_logo.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_logo a:hover{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_logo.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_card{
		margin:0px; padding:0px; width:275px; height:48px;
	}

#nav_card .on7{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_card.gif) no-repeat 5px 15px;
	}

#nav_card a{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_click_card.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_card a:hover{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_card.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_placard{
		margin:0px; padding:0px; width:275px; height:48px;
	}

#nav_placard .on8{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_placard.gif) no-repeat 5px 15px;
	}

#nav_placard a{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_click_placard.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_placard a:hover{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_placard.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_album{
		margin:0px; padding:0px; width:275px; height:48px;
	}

#nav_album .on9{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_album.gif) no-repeat 5px 15px;
	}

#nav_album a{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_click_album.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_album a:hover{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_album.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_video{
		margin:0px; padding:0px; width:275px; height:48px;
	}

#nav_video .on10{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_video.gif) no-repeat 5px 15px;
	}

#nav_video a{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_click_video.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_video a:hover{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_video.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_process{
		margin:0px; padding:0px; width:275px; height:48px;
	}

#nav_process .on11{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_process.gif) no-repeat 5px 15px;
	}

#nav_process a{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_click_process.gif) no-repeat 5px 15px; position:absolute;
	}

#nav_process a:hover{
		margin:0px; padding:0px; width:275px; height:48px; background:url(../images/nav_process.gif) no-repeat 5px 15px; position:absolute;
	}

.ari{
		font-family:Arial, Helvetica, sans-serif;
	}

.nav_left_line{
		margin:0px; padding:0px; width:275px; height:10px; border-top:1px #B6B6B6 dashed; overflow:hidden;
	}

/****************************      left_nav page  end           *******************************************/


#nei_content_right{
		margin:0px 0px 0px 30px; padding:0px; width:645px; height:100%; overflow:auto; float:left;
	}

#nei_content_right_title{
		margin:0px; padding-top:26px;
	}

#nei_content_right_line{
		margin:20px 0px 0px 0px; padding:0px; width:645px; height:5px; overflow:hidden; background:url(../images/line_content.gif) no-repeat;
	}

#content_right_about{
		margin:28px 0px 0px 0px; padding:0px; line-height:22px; text-indent:2em;
	}

/****************************      about page  end           *******************************************/



/****************************      talk page  begin           *******************************************/

#content_right_talk{
		margin:32px 0px 0px 0px; padding:0px;
	}

/****************************      talk page  end           *******************************************/

/****************************      link page  begin           *******************************************/

#content_right_link{
		margin:32px 0px 0px 0px; padding:0px;
	}

#content_link_text{
		margin:30px 0px 0px 0px; padding:0px;
	}

#content_link_text_title{
		margin:0px; padding:0px;
	}

#content_link_text_text{
		margin:0px; padding-top:5px; height:100%; overflow:auto;
	}

#content_link_text_text ul{
		margin:0px; padding:0px;
	}

#content_link_text_text ul li{
		margin:0px; padding-right:15px; display:block; float:left; list-style:none; line-height:25px; white-space:nowrap;
	}

#content_link_text_text ul li a{
		margin:0px; padding:0px; color:#969696; text-decoration:none;
	}

#content_link_text_text ul li a:hover{
		margin:0px; padding:0px; color:#505050; text-decoration:none;
	}

.link_line{
		margin:0px; padding:0px;height:10px; border-bottom:1px #B6B6B6 dashed; overflow:hidden;
	}

.link_line_2{
		margin:0px; padding:0px;height:20px; border-bottom:1px #B6B6B6 dashed; overflow:hidden;
	}

#content_link_link{
		margin:30px 0px 0px 0px; padding:0px;
	}

#content_link_link_title{
		margin:0px; padding:0px;
	}

#content_link_link_img{
		margin:0px; padding:0px; height:100%; overflow:auto;
	}

#content_link_link_img ul{
		margin:0px; padding:0px;
	}

#content_link_link_img ul li{
		margin:0px; padding:10px 0px 0px 10px; width:120px; height:45px; overflow:hidden; float:left; list-style:none;
	}

#content_link_link_img ul li.one{
		margin:0px; padding:10px 0px 0px 0px; width:120px; height:45px; overflow:hidden; float:left; list-style:none;
	}

#content_link_app{
		margin:30px 0px 0px 0px; padding:0px;
	}

#content_link_app_title{
		margin:0px; padding:0px;
	}

#content_link_app_app{
		margin:0px; padding-top:5px; height:100%; overflow:auto;
	}

#content_link_app_text{
		margin:0px; padding-top:10px; height:100%; overflow:auto; float:none;
	}

#content_link_app_text a{
		margin:0px; padding:0px; color:#00A0E9; text-decoration:none;
	}

#content_link_app_text a:hover{
		margin:0px; padding:0px; color:#00A0E9; text-decoration:underline;
	}

.content_link_app_img{
		margin:0px; padding-top:20px; width:600px; height:50px;
	}

.content_link_app_img_left{
		margin:0px; padding:0px; width:120px; float:left;
	}

.content_link_app_img_left a{
		margin:0px; padding:0px; color:#00A0E9; text-decoration:none;
	}

.content_link_app_img_left a:hover{
		margin:0px; padding:0px; color:#00A0E9; text-decoration:none;
	}

.content_link_app_img_right{
		margin:0px; padding-left:10px; float:left;
	}

.content_link_app_img_text{
		margin:0px; padding:0px;
	}

.content_link_app_img_copy{
		margin:0px; padding-top:8px;
	}

.content_link_app_img_copy a{
		margin:0px; padding:0px; color:#00A0E9; text-decoration:none;
	}

.content_link_app_img_copy a:hover{
		margin:0px; padding:0px; color:#00A0E9; text-decoration:none;
	}

.inp{
		margin:0px; padding:0px; width:400px; height:20px; color:#969696;
	}

/****************************      link page  end           *******************************************/


/****************************      case page  begin           *******************************************/

#case{
		margin:30px auto 0px auto; padding:0px; width:970px; height:100%; overflow:auto;
	}

#case_left{
		margin:0px; padding:0px; width:1070px; height:100%; overflow:auto; float:left;
	}

#case_left_title{
		margin:0px; padding:0px;
	}

#case_left_line{
		margin:20px 0px 0px 0px; padding:0px; width:950px; height:5px; overflow:hidden; background:url(../images/line_content.gif) repeat;
	}



#case_right_title{
		margin:0px; padding-top:26px;
	}


.wrap{
		margin:30px auto 0px auto; padding:0px; width:950px;
	}

.tagsMod{
		margin:0px; padding:0px; width:950px; height:100%; overflow:auto;
	}

.tags{
		margin:0px; padding:0px; clear:both;
	}

.tags div{
		margin:0px; padding:0px; line-height:40px; float:left; width:158px; height:48px; background:url(../images/tag_bg.gif) -158px 0 no-repeat; color:#454545; font-size:16px; text-align:center; font-weight:bold; cursor:pointer;
	}

.tags div:hover{
		margin:0px; padding:0px; color:#FFFFFF; background-position:-316px 0;
	}

.tags .at{
		margin:0px; padding:0px; color:#FFFFFF; background-position:0 0;
	}

.tags .at:hover{
		margin:0px; padding:0px; color:#FFFFFF; background-position:0 0;
	}

.tags .end{
		margin:0px; padding:0px; width:158px;
	}

.tags .end:hover{
		margin:0px; padding:0px; color:#FFFFFF; background-position:-316px 0;
	}

.tags #end.at{
		margin:0px; padding:0px; background-position:0 0;
	}

.tags #end.at:hover{
		margin:0px; padding:0px; color:#fff; background-position:0 0;
	}

#wrapCon {
		margin:0px; padding:0px; overflow:hidden; width:950px;
	}

.cons{
		margin:0px; padding:0px;
	}

.con{
		margin:0px; padding:0px;
	}

.hd{
		margin:0px; padding-top:15px; height:35px; border-bottom:1px #B6B6B6 dashed; clear:both;
	}

.bd{
		margin:0px; padding-top:20px; width:950px;
	}

.bd ul{
		margin:0px; padding:0px; height:100%; overflow:auto; overflow:hidden;
	}

.bd ul li{
		margin:0px; padding-left:30px; padding-bottom:30px; list-style:none; width:205px; height:135px; float:left; display:block;
	}

.bd ul li.f1{
		margin:0px; padding:0px; padding-bottom:30px; list-style:none; width:205px; height:135px; float:left; display:block;
	}

.bd ul li img{
		margin:0px; padding:0px; border:5px #DDDDDD solid; -moz-border-raduis:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	}

.bd ul li a:hover img{
		margin:0px; padding:0px; border:5px #00A0E9 solid; -moz-border-raduis:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-transition:all 0.4s ease-out; -webkit-transition:all 0.4s ease-out; 
	}



/*.bd ul li img{
		margin:0px; padding:0px; border:5px #DDDDDD solid; -moz-border-raduis:5px; -moz-border-radius:5px; -webkit-border-radius:5px; opacity:0.5;
	}

.bd ul li a:hover img{
		margin:0px; padding:0px; border:5px #00A0E9 solid; -moz-border-raduis:5px; -moz-border-radius:5px; -webkit-border-radius:5px; opacity:1.0; -moz-transition:all 0.4s ease-out; -webkit-transition:all 0.4s ease-out; 
	}
*/



/****************************      sharing page  end           *******************************************/




/****************************      index color_wp begin           *******************************************/


.color_wp{
		margin:30px auto 0px auto; padding:0px; width:950px; height:100%; overflow:auto;
	}

.color_wp ul{
		margin:0px; padding:0px;
	}

.color_wp ul li{
		margin:0px; padding-left:10px; padding-bottom:10px; list-style:none; float:left; display:block; overflow:hidden;
	}

.color_wp ul li#one_wp{
		margin:0px; padding-left:0px; padding-bottom:10px; list-style:none; float:left; display:block; overflow:hidden;
	}

.color_wp ul li.brand_item {
		height:150px
	}

.brand_item a {
		dispaly:block;
	}

.brand_item a:hover {
		
	}

.brand_item a.brand_name {
		
	}

.brand_item a.brand_detail {
		
	}


/****************************      index color_wp end           *******************************************/

.index_btn {
	display:block;
	float:center;
	cursor:pointer;
	margin-left:585px;
	width:194px;
	height:43px;
	font-size:20px;
	line-height:53px;
	-webkit-border-radius:14px;
	-moz-border-radius:4px;
	border-radius:4px;
	background-color:#ff7c12;
	color:#fff;
}
.index_btn:hover {
	background-color:#6666FF;
	color:#fff
}

/****************************      weichat\top  begin           *******************************************/

#wap{
		margin:0px; padding:0px; bottom:195px; right:0px; position:fixed; z-index:999;
}

#wap a{
		margin:0px; padding:0px; width:60px; height:60px; text-indent:-9000px; display:block; background:url(../images/wap.png) no-repeat;
}

#wap a:hover {
		margin:0px; padding:0px; width:60px; height:60px; text-indent:-9000px; display:block; background:url(../images/wap.png) no-repeat;
}





.backToTop{
		display:none; width:60px; height:60px; line-height:1.2; padding:5px 0; background:url(../images/top.png) no-repeat; color:#33CCFF; font-size:12px; text-align:center; position:fixed; _position:absolute; right:0px; bottom:80px; _bottom:"auto"; cursor:pointer;
}



.pic{
		 z-index:999; position:fixed; _position:absolute; right:28px; bottom:165px; _bottom:"auto"; cursor:pointer;
	}


.edit{
		width:188px; height:218px; position:absolute; background:url(../images/wechat.gif) no-repeat; bottom:0px; right:62px; display:none;
	}


/****************************      weichat  end           *******************************************/




















