.scroll {
	position:absolute;
	left:50%;
	bottom:10px;
	width:130px;
	height:66px;
	margin:0 0 0 -65px;
	background-repeat:no-repeat
	background-image:url(images/home_scroll.png)
}

.scroll_1 {
	position:absolute;
	left:50%;
    top:188.5%;
	bottom:10px;
	width:130px;
	height:66px;
	margin:0 0 0 -65px;
    background-repeat:no-repeat
	background-image:url(images/page_scroll.png)}
	
.scroll_2 {
	position:absolute;
	left:50%;
    top:289.5%;
	bottom:10px;
	width:130px;
	height:66px;
	margin:0 0 0 -65px;
    background-repeat:no-repeat
	background-image:url(images/page_scroll.png)}
	
	
.mp1,.mp2,.mp3,{height:599px;}
	
.wish_top {	
    position:absolute;	
    left:31%; 
	top:38%;
	color:#3399FF;
    }
	
	
	