html,body,p,a,ul,li,h2,h4 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Microsoft JhengHei', Verdana, sans-serif, SimSun;
}
html {
    height: 100%;
}
body {
    margin-bottom: -0.5rem;
    position: relative;
    min-height: 100%;
}
body::after{
    content: "";
    display: block;
    height: 0.8rem;
}
a,a:link,a:hover,a:visited {
    color: #222222;
}
header {
    height: auto;
    text-align: center;
    background: #222222;
    color: #FFFFFF;
}
header h2 {
    padding: 0.3rem 0 0.1rem 0;
    line-height: 0.3rem;
    font-size: 0.3rem;
    letter-spacing: 0.02rem;
}
header h4 {
    line-height: 0.3rem;
    font-size: 0.2rem;
    padding-bottom: 0.1rem;
    opacity: .8;
}
section {
    margin: 0 auto;
    max-width: 100vmin;
}
.box {
    height: auto;
    margin: 0 auto;
    max-width: calc(100% - 0.24rem);
    box-shadow: 0.01rem 0.01rem 0.1rem #cccccc ;
    border-radius: 0.1rem 0.1rem 0.2rem 0;
}
.box > div {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.24rem;
    text-align: center;
    border-radius: 0.1rem 0.1rem 0 0;

}
.box > ul {
    width: calc(100% - 2px);
    border: 1px solid #cccccc;
    border-radius: 0 0 0.2rem 0;
    background: rgba(0,0,0,.1);
    overflow: hidden;
}
.box > ul li {
    font-size: 0.22rem;
    line-height: 0.6rem;
    height: 0.6rem;
    text-align: center;
    padding-right: 0.33rem;
    transition: .5s ease all;
    overflow: hidden;
}
.box > ul li:nth-child(2n) {
    background: rgba(255,255,255,.2);
}
.box > ul li a {
    width: calc(100% - 0.355rem);  /***0.35 + 0.01 防止页面宽度缩小导致a被挤下去***/
    border-right: 0.02rem solid transparent;
    display: inline-block;
    position: relative;
}
.box > ul li span {
    transition: .2s ease all;
}
.box li span {
    height: 0.22rem;
    width: 0.22rem;
    display: inline-block;
    background-size: cover;
    margin-left: 0.11rem;
}
.box li:hover a {
    margin-left: -0.22rem;
}
.box li:hover a::after {
    content: '';
    position: absolute;
    right: -0.68rem;   /***0.35+0.33 span.width + li.padding***/
    top: 0;
    width: 0.35rem;
    height: 0.6rem;
    background: #cccccc;
}
.box li:hover span {
    opacity: 0;
    height: 0.22rem;
    width: 0;

}
.box1 > div {
    background-color: #1C8DE7;
}

.box1 li span {
    background-image: url("./css.png");
}

.box2 > div {
    background-color: #1EA061;
}

.box2 li span {
    background-image: url("./js.png");
}


.box3 > div {
    background-color: #6F5499;
}

.box3 li span {
    background-image: url("./angel.png");
}

footer {
    height: 0.5rem;
    width: 100%;
    line-height: 0.5rem;
    font-size: 0.14rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #cccccc;
}

/***   pub style   ***/

.li-fir {
}
.li-las {
}
